<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            var socket = io({
                path: "/ws",
                transportOptions: {
                    polling: {
                        extraHeaders: {
                            'Authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6IjU5ZjcwNDBmN2Y1NzU0MDAyZDkxYjZjZiIsImV4cCI6MTUzNTgwMDcxNn0.bSJpU81NeUtXEjFbgBm4M7yOQFl0-oN-3FHcaQiMbZU'
                        }
                    }
                }
            });
            console.log(socket);
            socket.on('connect', function () {
                console.log('connected');
                socket.emit('on_connected', {data: 'I\'m connected!'});
            });
            socket.on('notification:message', function (message) {
                console.log('test message received');
                console.log(message)
            });
        });
    </script>
</head>
<body>
<h1>Flask-SocketIO Test</h1>
</body>
</html>
